@model Movies.ViewModels.MovieViewModels.MovieDetailsVM
<div id="movie-details-@Model.Title">
    <h2>@Model.Title</h2>

    <fieldset>
        <legend>Details </legend>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LeadingActor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LeadingActor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LeadingActress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LeadingActress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Studio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Studio)
            </dd>
        </dl>
    </fieldset>
    <p>
        <button class="close-details-button">Close</button>
    </p>
</div>